.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .titleContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #000000;
        }
        .line{
            background-color: #FC7900;
            width: 277px;
            height: 9px;
        }
    }
    .widthContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        .icon{
            font-size: 50px;
        }
        .scrollContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width:calc(100vw/1.3);
            overflow-x: auto;
           
        .itemContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 10px;
            border-radius: 10px 10px 0px 0px;
            margin-right: 20px;
            .mobileMockupContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 250px;
                height: 541px;
                border-radius: 20px 20px 20px 20px;
               
                background-color: black;
                .contentContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                // justify-content: center;
                width: 240px;
                height: 519px;
                    border-radius: 20px 20px 20px 20px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-color: rgb(172, 166, 166);
                    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.25);
                    .speaker{
                        position: relative;
                        top: 0px;
                        width: 100px;
                        height: 15px;
                        background-color: black;
                        border-radius: 0px 0px 50px 50px;
                    }
                    .mic{
                        position: relative;
                        top: 355px;
                        width: 100px;
                        height: 5px;
                        background-color: black;
                    }
                    .screenShot{
                        position: 'relative';
                        width: 232px;
                        height: 502px;
                        object-fit: fill;
                    }
                }
            }
            .titleContainer{
                display: flex;
                flex-direction: column;
                .title{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 27px;
                    color: #284283;
                }
                .heading{
                    text-decoration: none;
                    border: none;
                    color: white;
                    text-align: center;
                    width: 250px;
                    padding: 10px;
                    cursor: pointer;
                    background-color: #FC7900;
                }
            }
        }
    }
    }
}